html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    text-decoration: underline;
}

#modal {
    width: 500px;
    margin: auto;
}

#taskapp {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

#taskapp div {
    width: 32%;
    margin: 5px;
    height: 100%;
}

#taskapp ul {
    list-style-type: none;
    padding: 0px;
}

#taskapp li {
    padding: 18px 20px 18px 0;
    position: relative;
}

#taskapp li .view {
    padding: 5px;
    width: 80%;
    border: thin solid #777777;
    background-color: #f8f48b;
}

#taskapp li .view:hover {
    box-shadow:2px 2px 10px 10px #C9C9C9;
    -webkit-box-shadow:2px 2px 10px 10x #C9C9C9;
    -moz-box-shadow:2px 2px 10px 10px #C9C9C9;
}