html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    text-decoration: underline;
}

#modal {
    /*position: absolute;*/
    width: 500px;
    margin: auto;
}

#taskapp {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

#taskapp div {
    width: 32%;
    margin: 5px;
    height: 100%;
}

#taskapp ul {
    list-style-type: none;
    padding: 0px;
}

#taskapp li {
    padding: 18px 20px 18px 0;
    position: relative;
}

#taskapp li .view {
    padding: 5px;
    border: thin solid #777777;
    background-color: #f8f48b;
}

#taskapp li:last-child {
    border-bottom: none;
}

#taskapp li.done label {
    color: #777777;
    text-decoration: line-through;
}

#taskapp li.editing {
    border-bottom: none;
    margin-top: -1px;
    padding: 0;
}

#taskapp li.editing:last-child {
    margin-bottom: -1px;
}

#taskapp li.editing .edit {
    display: block;
    width: 444px;
    padding: 13px 15px 14px 20px;
    margin: 0;
}

#taskapp li.editing .view {
    display: none;
}

#taskapp li .edit {
    display: none;
}
